.loadMore
  a Load More
footer
  .footer-section.footer-start
    a 김지헌
    a 번역 및 제작
  .footer-section.footer-middle
    a 원작
    a Pat Morin의 Oper Data Structure
  .footer-section.footer-end
    a 아직 이 프로젝트는 베타 스테이지입니다
    a 에러사항 혹은 개선사항은 연락주세요 
