header
    div(class='svg-container') ODS
    nav(class='category category-big')
        ul
            li
                .circle1
                a LIST
            li
                .circle2
                a USET
            li
                .circle3
                a SSET
            li
                .circle4
                a QUEUE
    nav(class='category category-small')
        ul
            li
                .circle1
            li
                .circle2
            li
                .circle3
            li
                .circle4
    div(class='icon-list')
        ul
            li
                span(class='svg-container icon')
                    svg(viewbox='0 0 20 20')
                        path(d='M8.5 2A6.5 6.5 0 1 1 2 8.5 6.507 6.507 0 0 1 8.5 2m0-1.8a8.3 8.3 0 1 0 8.3 8.3A8.3 8.3 0 0 0 8.5.2z')
                        path(stroke='currentColor' stroke-width='2' d='M14.027 13.973L19 19')
            li
                span(class='svg-container icon-text') ?