$font-header: 'Space Mono', monospace;
$font-general: 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;


$menu-color-1: #E4C974;
$menu-color-2: #4E7E42;
$menu-color-3: #89BCDD;
$menu-color-4: #DD443D;
$menu-color-5: #C9A996;
$menu-color-6: #1E95AB;
$menu-color-7: #ED8F4F;
